 <mat-card>
    <form [formGroup]="form" class="min-width">
      <mat-card-header>
        <mat-card-title>Novo Título</mat-card-title>
      </mat-card-header>
  
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Ano" formControlName="year">
      </mat-form-field>
  
      <mat-form-field>
        <textarea matInput placeholder="Sinopse" formControlName="synopsis"></textarea>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Categoria" formControlName="category">
      </mat-form-field>
  
      <label for="diretor">Diretor:</label>
      <select id="diretor" formControlName="diretor">
        <option *ngFor="let diretor of diretores" [ngValue]="diretor">
          {{ diretor._idDiretor }}
          {{ diretor.name }}
        </option>
      </select>

      <label for="classe">Classe:</label>
      <select id="classe" formControlName="classe">
        <option *ngFor="let classe of classes" [ngValue]="classe">
          {{ classe._idClasse }}
          {{ classe.name }}
        </option>
      </select>

      <!-- <div *ngFor="let ator of atoresList">
        <input type="checkbox" [value]="ator" formControlName="atores"> {{ ator.name }}
      </div>  -->   

      <div formArrayName="atores">
        <div *ngFor="let atorGroup of getAtorControls(); let i = index" [formGroupName]="i">
          <label for="ator">Ator:</label>
          <select id="ator" formControlName="ator">
            <option *ngFor="let ator of atoresList" [ngValue]="ator">
              {{ ator._idAtor }} - {{ ator.name }}
            </option>
          </select>
          <button type="button" (click)="removeAtor(i)">Remover Ator</button>
        </div>
      </div>
      
      <button type="button" (click)="addAtor()">Adicionar Ator</button>
  
    </form>
  
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit()">Salvar</button>
      <button mat-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
  </mat-card>